$color-primary: rgb(38, 98, 187);
$color-primary-light: #7ed56f;
$color-primary-dark: rgb(31, 40, 108);

$color-secondary-light: #1d7c29;
$color-secondary-dark: #4f1db3;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #aaa;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ebebeb;
  //background: linear-gradient(to bottom, $color-grey-light-2 0%, #dfdfdf 100%);
  font-family: "Lato";
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  font-size: 62.5%;
  scroll-behavior: smooth;
}
h1 {
  text-align: center;
  color: $color-primary;
  margin-top: 2rem;
  font-size: 3.5rem;
}
h1 span {
  color: $color-primary-dark;
  font-style: italic;
}
.fretboard {
  margin: 0.5rem;
  background-color: #fff;
  padding: 1em;
  border-radius: 0.5em;
  background: #efefef;
  box-shadow: 5px 5px 5px #bababa, -5px -5px 5px #ffffff;
}
.string {
  display: flex;
  width: 100%;
}
.string:first-of-type {
  border-top: 1px solid $color-grey-light-2;
}
.string:last-of-type {
  border-bottom: 1px solid $color-grey-light-2;
}

.note {
  width: 70px;
  height: 40px;
  background: transparent;
  border-right: 1px solid $color-grey-light-3;
  display: flex;
  align-items: center;
  justify-content: center;

  &__open {
    border-right: 4px solid $color-grey-dark-2;
  }

  &__marker {
    color: #fff;
    background-color: $color-primary;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    font-size: 0.8rem;
    position: absolute;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s;
  }
}
.note::after {
  content: " ";
  width: 100%;
  height: 1px;
  background-color: $color-grey-light-3;
}
.fret-number {
  width: 70px;
  height: 20px;
  margin-top: 10px;
  background: transparent;
  border-right: 1px solid $color-grey-light-3;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  color: $color-grey-dark-2;
}
.hidden {
  visibility: hidden;
  opacity: 0;
}

.radio-buttons {
  display: flex;
  justify-content: center;

  margin-top: 2rem;
  margin-bottom: 2rem;

  background-color: #fff;
  padding: 0.5rem;
  //border: 2px solid #edf1f4;

  border-radius: 5px;
  width: 942px;
  background: #efefef;
  box-shadow: 5px 5px 5px #bababa, -5px -5px 5px #ffffff;
}

.radio-buttons input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}
.radio-buttons label {
  display: inline-block;

  padding: 12px 15px;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 700;
  color: #444;
  //border-radius: 0.5em;

  border: 1px solid $color-grey-light-3;
  border-left: 1px solid #fff;
  background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  //background: linear-gradient(to bottom, rgba(0, 0, 0, 0.05), #edf1f4);
  margin: 0;
}
.radio-buttons label:first-of-type {
  border-left: 1px solid $color-grey-light-3;
  border-radius: 0.5em 0 0 0.5em;
}
.radio-buttons label:last-of-type {
  border-radius: 0 0.5em 0.5em 0;
  margin-right: 1em;
}
.radio-buttons input[type="radio"]:checked + label {
  background-color: $color-primary-dark;
  background: linear-gradient(to bottom, $color-primary-dark, $color-primary);
  color: #fff;
}
.mobile-root-modal input[type="radio"]:checked + label {
  background-color: $color-primary-dark;
  background: linear-gradient(to bottom, $color-primary-dark, $color-primary);
  color: #fff;
}

/* class applies to select element itself, not a wrapper element */
.select-css {
  display: block;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 700;
  color: #444;
  line-height: 1.3;
  padding: 0.6em 1.4em 0.5em 0.8em;
  //width: 100%;
  //max-width: 100%; /* useful when width is set to anything other than 100% */
  box-sizing: border-box;
  margin: 0;
  margin-left: 6rem;
  @media only screen and (max-width: 850px) {
    margin-left: 0;
  }
  border: 1px solid $color-grey-light-3;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 0.5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  /* note: bg image below uses 2 urls. The first is an svg data uri for the arrow icon, and the second is the gradient. 
    for the icon, if you want to change the color, be sure to use `%23` instead of `#`, since it's a url. You can also swap in a different svg icon or an external image reference
    
  */
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"),
    linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  /* arrow icon position (1em from the right, 50% vertical) , then gradient position*/
  background-position: right 0.7em top 50%, 0 0;
  /* icon size, then gradient */
  background-size: 0.65em auto, 100%;
}
/* Hide arrow icon in IE browsers */
.select-css::-ms-expand {
  display: none;
}
/* Hover style */
.select-css:hover {
  border-color: #888;
}
/* Focus style */
.select-css:focus {
  border-color: $color-grey-light-3;
  /* It'd be nice to use -webkit-focus-ring-color here but it doesn't work on box-shadow */
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}

/* Set options to normal weight */
.select-css option {
  font-weight: normal;
}

/* Support for rtl text, explicit support for Arabic and Hebrew */
*[dir="rtl"] .select-css,
:root:lang(ar) .select-css,
:root:lang(iw) .select-css {
  background-position: left 0.7em top 50%, 0 0;
  padding: 0.6em 0.8em 0.5em 1.4em;
}

/* Disabled styles */
.select-css:disabled,
.select-css[aria-disabled="true"] {
  color: graytext;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22graytext%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"),
    linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
}

.select-css:disabled:hover,
.select-css[aria-disabled="true"] {
  border-color: $color-grey-light-3;
}
.info {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  width: 942px;
  margin-top: 1rem;
  //border: #f00 1px solid;
  &__key {
    color: $color-primary;
    font-size: 3rem;
    font-weight: 800;
    margin-left: 2rem;
    margin-right: 0.5rem;
    //border: #f00 1px solid;
  }
  &__scale {
    color: $color-primary;
    // border: #f00 1px solid;
    margin-right: 2rem;
    font-size: 1.5rem;
  }
  &__steps {
    color: $color-grey-dark-2;
    font-size: 1.2rem;
  }
}

.desktop {
  @media only screen and (max-width: 850px) {
    display: none;
  }
}
.mobile {
  @media only screen and (min-width: 850px) {
    display: none;
  }
  width: 100vw;

  &__header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    &__h1 {
      font-size: 1.2rem;
      text-align: left;
      color: $color-primary;
      margin-top: 0rem;
      margin-left: 0.5rem;
    }
    &__info {
      display: flex;
      align-items: baseline;

      &__key {
        color: $color-primary;
        font-size: 1.5rem;
        margin-right: 0.5rem;
        font-weight: 700;
      }
      &__scale {
        color: $color-primary;
        font-size: 1rem;
        margin-right: 0.5rem;
      }
    }
  }
  &__fretboard {
    width: 99vw;
    height: 90vh;
    margin: 0.2rem;
    background-color: #fff;
    padding: 1em;
    border-radius: 0.5em;
    background: #efefef;
    box-shadow: 5px 5px 5px #bababa, -5px -5px 5px #ffffff;
  }
  &__string {
    //border: 1px #0f0 solid;
    width: 100%;
    height: 12%;
    max-height: 3rem;
    display: flex;
  }
  &__string:first-of-type {
    border-top: 1px solid $color-grey-light-2;
  }
  &__string:last-of-type {
    border-bottom: 1px solid $color-grey-light-2;
  }
  &__note {
    width: 8%;
    //border: 1px #0f0 solid;
    background: transparent;
    border-right: 1px solid $color-grey-light-3;
    display: flex;
    align-items: center;
    justify-content: center;
    &__marker {
      color: #fff;
      background-color: $color-primary;
      border-radius: 50%;
      width: 1.5rem;
      height: 1.5rem;
      font-size: 0.8rem;
      position: absolute;
      z-index: 100;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 1s;
    }
  }
  &__note::after {
    content: " ";
    width: 100%;
    height: 1px;
    background-color: $color-grey-light-3;
  }
}
.button {
  background: $color-primary;
  color: #fff;
  font-size: 1rem;
  position: absolute;
  border-radius: 15%;
  padding: 0.5rem 0.6rem;
  padding-bottom: 0.7rem;
  bottom: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.mobile__root-button {
  left: 2rem;
}
.mobile__scale-button {
  right: 2rem;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  background-color: #f3f3f3;
  padding: 5rem 2rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: all 0.5s;
  display: flex;
  justify-content: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;

  transition: all 0.5s;
}
.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 3rem;
  color: $color-primary;
  cursor: pointer;
  border: none;
  background: none;
}

.mobile__radio-buttons input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}
.mobile__radio-buttons label {
  display: inline-block;

  padding: 12px 15px;
  font-size: 1.2rem;
  font-family: sans-serif;
  font-weight: 700;
  color: #444;
  border-radius: 0.5em;

  border: 1px solid $color-grey-light-3;

  background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  //background: linear-gradient(to bottom, rgba(0, 0, 0, 0.05), #edf1f4);
  margin: 0.2rem;
}
.root-note {
  //background-color: $color-primary-dark;
  background: linear-gradient(to bottom, $color-primary, $color-primary-dark);
}
.root-note::before {
  position: absolute;
  left: -2px;
  top: -2px;
  content: "";
  width: 1.65rem;
  height: 1.65rem;
  background-color: transparent;
  border: 1px solid $color-primary-dark;
  border-radius: 50%;
  z-index: -1;
}
.major-charateristic {
  background-color: $color-secondary-dark;
}
.minor-charateristic {
  background-color: $color-secondary-light;
}
